<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cards</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap" rel="stylesheet">






    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/cards.css">
</head>

<body>


    <nav>
        <ul>
            <li>
                <img src="./images/favicon.ico" alt="logo" class="company-logo">
                <span class="company-name">CodeCraft</span>
            </li>

        </ul>
        <ul>
            <button class="write-new">Write New</button>
            <button class="log-out view">LogOut</button>
            <li>Blogs</li>
        </ul>

    </nav>


    <div class="wrapper">
        <div class="card-container">
            <div class="arrows-container">
                <div class="up">
                    <i class="fa-solid fa-arrow-up arrow-symbol"></i>
                </div>
                <div class="down"><i class="fa-solid fa-arrow-down arrow-symbol"></i></div>
            </div>
            <div class="questions-container">
                <div class="question">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat possimus et
                    dicta
                    perferendis maiores laudantium sunt ex alias voluptatem cum.</div>
                <div class="actions">
                    <div class="language-container">Language: Python</div>
                    <button class="view" type="button">View Problem</button>

                </div>
            </div>
        </div>



        <!-- -------------------------------------------------------------------------------------------- -->
        <div class="card-container">
            <div class="arrows-container">
                <div class="up">
                    <i class="fa-solid fa-up up-arrow"></i>
                </div>
                <div class="down"></div>
            </div>
            <div class="questions-container">
                <div class="question">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat possimus et
                    dicta
                    perferendis maiores laudantium sunt ex alias voluptatem cum.</div>
                <div class="actions">
                    <div class="language-container">Language: Python</div>
                    <button class="view" type="button">View Problem</button>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="arrows-container">
                <div class="up">
                    <i class="fa-solid fa-up up-arrow"></i>
                </div>
                <div class="down"></div>
            </div>
            <div class="questions-container">
                <div class="question">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat possimus et
                    dicta
                    perferendis maiores laudantium sunt ex alias voluptatem cum.</div>
                <div class="actions">
                    <div class="language-container">Language: Python</div>
                    <button class="view" type="button">View Problem</button>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="arrows-container">
                <div class="up">
                    <i class="fa-solid fa-up up-arrow"></i>
                </div>
                <div class="down"></div>
            </div>
            <div class="questions-container">
                <div class="question">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat possimus et
                    dicta
                    perferendis maiores laudantium sunt ex alias voluptatem cum.</div>
                <div class="actions">
                    <div class="language-container">Language: Python</div>
                    <button class="view" type="button">View Problem</button>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="arrows-container">
                <div class="up">
                    <i class="fa-solid fa-up up-arrow"></i>
                </div>
                <div class="down"></div>
            </div>
            <div class="questions-container">
                <div class="question">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat possimus et
                    dicta
                    perferendis maiores laudantium sunt ex alias voluptatem cum.</div>
                <div class="actions">
                    <div class="language-container">Language: Python</div>
                    <button class="view" type="button">View Problem</button>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="arrows-container">
                <div class="up">
                    <i class="fa-solid fa-up up-arrow"></i>
                </div>
                <div class="down"></div>
            </div>
            <div class="questions-container">
                <div class="question">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat possimus et
                    dicta
                    perferendis maiores laudantium sunt ex alias voluptatem cum.</div>
                <div class="actions">
                    <div class="language-container">Language: Python</div>
                    <button class="view" type="button">View Problem</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>