<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userCodes</title>
    <link rel="stylesheet" href="css/userCode.css" type="text/css">
</head>

<body>
    <% for(let i=0;i<codes.length;i++){ %>
        <div class="container">
            <div class="name-of-code">
                <h3>
                    <%=codes[i].nameOfthecode %>
                </h3>
            </div>
            <div>
                <%= codes[i].code%>
            </div>

            <div class="edit-button">
                <button type="button" data-id="<%=codes[i]._id%>" onclick="changeCode(this)">Edit</button>
            </div>
            <% }%>
                <script src="js/userCodeJS.js"></script>
</body>

</html>